body {
  margin: 0;
  padding: 0;
  background: rgb(232, 231, 235);
}

/* Header */

.toolbar {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.header {
  letter-spacing: 5px;
  font-size: 3em !important;
  font-weight: 100;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}

/* Left Controls */

.left_control {
  min-height: 1100px;
  height: 100%;
  background: #212121;
  width: 25%;
  position: absolute;
  box-shadow: 10px -5px 14px -8px rgba(0, 0, 0, 0.49);
}

.backgroundContainer {
  flex-flow: column;
}

.colorPicker {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
  margin-bottom: 10px;
}

.gradientBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 20px;
  border: 1px solid rgb(179, 179, 179);
  padding: 5px 7px;
  background: rgb(218, 216, 216);
  cursor: pointer;
}

.gradientBtn span {
  width: 100%;
  height: 20px;
  border-radius: 3px;
}

.pickerContainer {
  position: relative;
}

.swatchesPicker {
  position: absolute;
  left: 0;
  z-index: 999;
}

.picker-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.controlContainer {
  padding: 7px;
}

.expansionContainer {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.sliderContainer {
  margin-top: 20px;
  color: #fff;
}

.slider-div {
  display: flex;
}

.slider-div span {
  margin-left: auto;
  margin-top: -15px;
  font-variant-numeric: tabular-nums;
  background: #333;
  padding: 5px;
  width: 20%;
  border-radius: 5px;
}

.slider {
  width: 70% !important;
}

.opacitySlider {
  color: #fff;
}

.bgImageUpload {
  margin-top: 10px;
}

.positionContainer {
  display: flex;
  flex-flow: column;
  height: 130px;
  justify-content: space-evenly;
}

.position .label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #fff;
}

.browseBtn .imgContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
  overflow: hidden;
}
.browseBtn .imgContainer .bgImage {
  background: url("assets/djin.jpg");
  background-size: cover;
  background-position: bottom;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  transition: 0.5s !important;
}

.browseBtn .imgContainer span {
  padding: 10px;
  color: #fff;
  position: absolute;
  font-size: 2em;
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
}

.browseBtn .imgContainer span:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  margin: 0 auto;
  padding-top: 20px;
  width: 50%;
  border-bottom: 2px solid white;
}

.browseBtn .imgContainer:hover > .bgImage {
  background-color: transparent;
  transform: scale(1.1) rotate(5deg);
}

.browseBtn .imgContainer:hover > span {
  border: 4px solid white;
}

.clearImagesCont {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.clearImgsBtn {
  width: 70%;
}

.clearImagesCont .imgsNum {
  color: #fff;
  background: #333;
  padding: 5px;
  width: 20%;
  border-radius: 5px;
}

/* Image */
.sizeRadioContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.dropZone {
  position: relative;
  border: 2px dotted grey;
  padding: 12px;
  color: #fff;
}

.dropZone p {
  text-align: center;
}

.disabledDropzone {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(73, 73, 73, 0.8);
  color: red;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  font-family: "Roboto";
}

/* Right controls */

.right_control {
  min-height: 1100px;
  height: 100%;
  background: #212121;
  width: 25%;
  position: absolute;
  right: 0;
  box-shadow: -8px -5px 14px -8px rgba(0, 0, 0, 0.49);
}

.addTextBtn_container {
  background: #424242;
  padding: 7px !important;
}

.addTextBtn {
  background: #424242 !important;

  justify-content: center !important;
}

.resetBtn_container {
  background: #cc3232;
  padding: 7px !important;
  transition: 0.2s;
}

.resetBtn {
  background: #d32f2f !important;
  justify-content: center !important;
}

.resetBtn_container:hover > .resetBtn,
.resetBtn_container:hover {
  background: #b42424 !important;
}

.downloadBtn {
  width: 80px !important;
  height: 80px !important;
}

.downloadBtn svg {
  width: 45px;
  height: 45px;
}

.download-container {
  position: absolute;
  margin-left: -40px;
  bottom: 50%;
}

/* Text Dialog */

.textDialog {
  height: 500px !important;
  color: #fff;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
}

.textDialog h3 {
  margin-bottom: 8px;
}

.dialogTitle {
  text-align: center;
  font-family: "Ubuntu";
  letter-spacing: 3px;
}

.font-color_controls {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.color {
  margin-top: -20px;
  margin-bottom: 20px;
}

.fontFamily-select {
  width: 60%;
}

.textInput {
  width: 80%;
}
.saveBtnContainer {
  position: relative;
  width: 80%;
  margin-top: 10px;
  display: flex;
}
.switchContainer {
  display: flex;
  flex-flow: column;
  text-align: center;
  margin-left: -20px;
}
.saveBtn {
  width: 100%;
  height: 50px;
}

.saveBtnLoader {
  position: absolute;
  right: 40%;
  bottom: 12px;
}

.fontSampler {
  position: absolute;
  bottom: 25px;
  padding: 20px;
  background: #555 !important;
  width: 50%;
}

/* Unsplash Dialog */

.unsplashMain {
  position: relative;
}

.unsplashAddBtn {
  position: absolute !important;
  width: 70px !important;
  height: 70px !important;
  bottom: 30px;
  right: 30px;
}

.unsplashAddBtn svg {
  width: 40px;
  height: 40px;
}

.unsplashNav {
  margin-bottom: 100px !important;
  height: 100px !important;
}

.navTitle {
  margin: 0 auto !important;
}

.navTitle a {
  color: #fff;
}

.closeIconUnsplash {
  position: absolute !important;
  margin-top: 15px !important;
}

.closeIconUnsplash svg {
  height: 40px;
  width: 40px;
}

.unsplashSearchHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  position: absolute;
  width: 100%;
}

.unsplashSearchCard {
  margin-top: 50px;
  width: 50%;
  padding: 10px;
  z-index: 99999 !important;
}

.unsplashSearch::placeholder {
  text-align: center !important;
}

.unsplashGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 200px !important;
}

.unsplashGridTile {
  width: 100%;
  height: 450px;
  border: 5px solid transparent;
}

.unsplashUserIcon {
  color: #fff;
  margin-right: 15px;
}
.unsplashGridButton {
  height: 450px !important;
}

.infiniteScroll {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100% !important;
  height: 750px !important;
}

/* Canvas styling  */

.main {
  display: flex;
  justify-content: center;

  margin-top: 100px;
}

.canvasContainer {
  position: relative;
  overflow: hidden;
}

#canvas {
  height: 450px;
  width: 450px;
  background: #fff;
  border-radius: 2px;
  border: 5px solid red;
}

#imgCanvas {
  position: absolute;
  background: transparent;
}

#txtCanvas {
  position: absolute;
  background: transparent !important;
  top: 0;
  left: 0;
  /* display: none; */
}
